<html>
    <head>
        <title> Form </title>
    </head>
    <body>
        <form method="POST" action="/new">
            <h1> New Message </h1>
            <label for="username">Username</label>
            <input name="username" id="username" type="text" />
            <label for"message">Message</label>
            <input name="message" id="message" type="text" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
