<html>
    <head>
        <title> Message Detail </title>
    </head>
    <body>
        <div>
            <h1> <%= messageDetails.username %> </h1>
            <p> <%= messageDetails.text %> </p>
            <p> <%= messageDetails.added %> </p>
        </div>
    </body>
</html>

